<div class="post-content">
    <h3 class="post-user">{{post.user}}</h3>
    <p class="post-body">{{post.body}}</p>
    <div class="post-buttons">
        <div class="button-box">
            <button class='agree-button'>✔️</button>
            <span class="counter-span">
                <h4>{{post.agrees}}</h4>
            </span>
        </div>
        <div class="button-box">
            <button class='disagree-button'>✖️</button>
            <span class="counter-span">
                <h4>{{post.disagrees}}</h4>
            </span>
        </div>
    </div>
</div>
