.header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid black;
    font-size: 2vmin;
}

.title:hover {
    cursor: pointer;
}

