<div class="error-page">
    <div class="text-container">
        <h1>
            Where Do You Think You're Going?
            <br/>
            <br/>
            Error 404, page not found
        </h1>
    </div>
    <iframe
        src="https://www.youtube.com/embed/ZXpThNX9IRc?autoplay=1&mute=1" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
</div>